<include file="Public/header" title="产品管理" />
<div id="page-wrapper">

	<div class="row">		
		<div class="col-md-6">
			<form action="{:U('Stock/index')}" method="post">
				<div class="form-group input-group">
					<input type="text" class="form-control" name="key" placeholder="输入产品名称、分类或者添加人关键词搜索">
					<span class="input-group-btn">
                      <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                    </span>
				</div>
			</form>
		</div>
	</div>
	<table class="table table-hover table-striped">
		<thead>
			<tr>				
				<th>产品名称</th>
				<th>产品分类</th>
				<th>市场单价</th>
				<th>计量单位</th>
				<th>型号规格</th>
				<th>库存数量</th>
				<th>入库数量</th>
				<th>出库数量</th>
				<th>添加人</th>
				<th>添加时间</th>				
				<th>详情</th>															
			</tr>
		</thead>
		<tbody>
			<foreach name="model" item="v">
				<tr>
					<td>{$v.name}</td>					
					<td>{$v.category_name}</td>
					<td>{$v.price}</td>					
					<td>{$v.type}</td>					
					<td>{$v.title}</td>					
					<td>{$v.kucun}</td>					
					<td>{$v.ruku}</td>					
					<td>{$v.chuku}</td>					
					<td>{$v.username}</td>					
					<td>{$v.addtime|date="Y/m/d H:i:s",###}</td>
					<td>{$v.remarks}</td>																				
				</tr>
			</foreach>
		</tbody>
	</table>
	<div class="clearfix"></div>
	{$page}

</div>
<include file="Public/footer" />